<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link href="https://unpkg.com/tailwindcss@^1.1.4/dist/tailwind.min.css" rel="stylesheet">
		<title>Jason McCallister - DevOps Engineer</title>
		<meta name="title" content="Jason McCallister - DevOps Engineer">
		<meta name="description" content="DevOps Engineer working with Docker, Serverless PHP, Go, Amazon Web Services, and more.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://mccallister.dev/">
		<meta property="og:title" content="Jason McCallister - DevOps Engineer">
		<meta
		property="og:description" content="DevOps Engineer working with Docker, Serverless PHP, Go, Amazon Web Services, and more.">
		{# <meta property="og:image" content=""> #}
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://mccallister.dev/">
		<meta property="twitter:title" content="Jason McCallister - DevOps Engineer">
		<meta
		property="twitter:description" content="DevOps Engineer working with Docker, Serverless PHP, Go, Amazon Web Services, and more.">
	{# <meta property="twitter:image" content=""> #}
	</head>
	<body class="antialiased">
		<div class="relative bg-gray-200">
			<div class="relative max-w-5xl mx-auto">
				<div class="flex flex-col min-h-screen lg:flex-row lg:items-center lg:p-8">
					<div class="flex flex-col flex-grow bg-white lg:shadow-lg lg:overflow-hidden">
						<div class="flex-grow flex flex-col justify-center p-12">
							<div class="md:pl-16 pl-0">
								<h1 class="sm:font-semibold text-2xl sm:text-3xl md:text-4xl text-gray-900 mt-6">
									Jason McCallister
								</h1>
								<p class="font-semibold sm:text-xl text-gray-600 leading-relaxed">Lead DevOps Engineer @
									<a class="underline" target="_blank" href="https://pixelandtonic.com">Pixel &amp; Tonic</a>
									working on
									<a class="underline" target="_blank" href="https://craft.cloud">Craft Cloud</a>
								</p>
								<span class="flex mt-2 mb-12">
									<span class="mr-4">
										<a target="_blank" href="https://github.com/jasonmccallister">
											<svg role="img" class="h-6 fill-current text-gray-700 hover:text-gray-600" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
											</svg>
										</a>
									</span>
									<span class="mr-4">
										<a target="_blank" href="https://twitter.com/themccallister">
											<svg role="img" class="h-6 fill-current text-gray-700 hover:text-gray-600" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"/>
											</svg>
										</a>
									</span>
									<span class="mr-4">
										<a target="_blank" href="https://www.linkedin.com/in/jason-mccallister-207521174/">
											<svg class="h-6 fill-current text-gray-700 hover:text-gray-600" role="img" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/></svg>
										</a>
									</span>
								</span>
								<p class="sm:text-lg text-gray-600 mt-3 leading-relaxed">This site is still a work in progress and is
									<a class="underline" target="_blank" href="https://github.com/jasonmccallister/mccallister.dev">available on GitHub</a>. I am actively migrating my articles and content into this new site.</p>
								<p class="sm:text-lg text-gray-600 mt-3 leading-relaxed">Powered by open-source like
									<a class="underline" target="_blank" href="https://www.yiiframework.com/doc/guide/2.0/en/tutorial-yii-as-micro-framework">Yii (as a PHP microframework)</a>,
									<a class="underline" target="_blank" href="https://bref.sh">Bref.sh (for serverless PHP)</a>, and
									<a class="underline" target="_blank" href="https://tailwindcss.com">Tailwind CSS (because Microsoft Paint is the highlight of my design career)</a>.</p>
								<p class="sm:text-lg italic text-gray-600 mt-3 leading-relaxed">Based on the Tailwind CSS Starter project because like I said before, I can't design.</p>
							</div>
						</div>
						<div class="bg-gray-100 border-t-2 border-gray-200">
							<div class="flex flex-wrap">
								<div class="flex flex-col px-12 py-10 w-full sm:w-1/2 sm:border-r sm:border-b border-gray-200">
									<div class="flex flex-grow">
										<div class="leading-relaxed flex flex-col ml-4 md:ml-6">
											<a href="https://craftcms.com">
												<svg xmlns="http://www.w3.org/2000/svg" class="h-16 pb-4" viewbox="0 0 220 55">
													<path fill="#E5422B" d="M76.1875 32.5625C72.5625 32.5625 70.5625 30.25 71.0625 26.9375 71.625 23.5625 74.375 21.3125 77.9375 21.3125 79.8125 21.3125 81.5 22.1875 82.5 23.5L86 20.625C84.125 18.5 81.4375 17.4375 78.5625 17.4375 72.6875 17.4375 67.5625 21.375 66.6875 26.9375 65.8125 32.5625 69.5625 36.4375 75.5 36.4375 78.5 36.4375 81.5 35.1875 84.125 33.125L81.625 30.25C79.8125 31.875 77.9375 32.5625 76.1875 32.5625M99.6875 17.625C99.6875 17.625 98.9375 17.5 98.875 17.5 98.0625 17.375 97.1875 17.4375 96.375 17.5 95.625 17.5625 94.875 17.6875 94.125 17.9375 93.5 18.125 92.8125 18.375 92.25 18.75L92.375 17.875 88.125 17.875 85.25 36 89.5 36 91.1875 25.4375C91.25 24.8125 91.5 24.25 91.8125 23.75 92.125 23.25 92.5625 22.8125 93.0625 22.5 93.5625 22.125 94.0625 21.875 94.625 21.6875 95.1875 21.5 95.75 21.375 96.375 21.3125 97.1875 21.25 98.0625 21.3125 98.875 21.5 98.875 21.5 98.9375 21.5 98.9375 21.5 99.0625 21.5 99.6875 17.625 99.6875 17.625M114.5625 19C113.375 18 111.5625 17.4375 109.4375 17.4375 104.125 17.4375 99.3125 21.25 98.375 26.875 97.5 32.5 101.1875 36.3125 106.3125 36.3125 108.625 36.3125 110.5625 36 112.1875 34.875L112.0625 35.875 115.9375 35.875 118.75 17.875 114.75 17.875 114.5625 19zM113.6875 26.875L113.6875 26.875C113.125 30.3125 110.5625 32.6875 107.25 32.6875 103.875 32.6875 101.9375 30.1875 102.5 26.8125 103.0625 23.4375 105.75 21.0625 109.0625 21.0625 112.375 21.125 114.1875 23.4375 113.6875 26.875L113.6875 26.875zM138.375 17.875L139.1875 12.75 134.3125 16.25 134.0625 17.9375 128.5625 17.9375 129.125 14.5C129.4375 12.875 131.1875 12.9375 131.1875 12.9375L133.25 12.9375 133.875 9.1875 131.5 9.1875 130.9375 9.1875C125.125 9.1875 124.9375 13.6875 124.9375 13.6875L124.5625 15.8125 124.25 17.9375 123.875 17.9375 119.125 21.6875 123.625 21.6875 120.75 40 125.125 40 128 21.625 133.5 21.625 131.25 36 135.5625 36 137.8125 21.625 143.1875 21.625 143.8125 17.875 138.375 17.875zM149.9375 26.9375C150.8125 21.375 155.875 17.4375 161.8125 17.4375 164.6875 17.4375 167.375 18.5625 169.25 20.625L165.75 23.5C164.75 22.1875 163.0625 21.3125 161.1875 21.3125 157.625 21.3125 154.875 23.625 154.3125 26.9375 153.8125 30.25 155.8125 32.5625 159.4375 32.5625 161.1875 32.5625 163.0625 31.875 164.875 30.25L167.375 33.125C164.75 35.25 161.75 36.4375 158.75 36.4375 152.8125 36.4375 149.0625 32.5625 149.9375 26.9375M200.5625 25L198.875 36 194.625 36 196.3125 25.3125C196.75 22.8125 195.375 21.3125 192.9375 21.3125 190.375 21.3125 187.8125 22.875 187.4375 25.4375L185.75 36 181.5 36 183.1875 25.3125C183.5625 22.875 182.125 21.375 179.8125 21.3125 177.4375 21.4375 174.6875 22.9375 174.3125 25.4375L172.625 36 168.375 36 171.25 17.875 175.5 17.875 175.375 18.75C176.8125 17.875 178.4375 17.5 180.5 17.4375L180.875 17.4375C183.5 17.4375 185.625 18.5 186.75 20.3125 188.5 18.5 191.1875 17.4375 193.875 17.4375 198.5 17.4375 201.3125 20.5 200.5625 25M200.375 33.8125L203 30.5625C204.4375 31.6875 207.1875 32.5625 209.5 32.5625 211.625 32.5625 213.75 32.125 214 30.6875 214.1875 29.5625 212.125 29.1875 209.8125 28.8125 205 28 202.5625 27 203.0625 23.375 203.8125 18.8125 208.5 17.5 212.375 17.5 215.125 17.5 218 18.4375 219.9375 19.75L217.3125 23C215.8125 22.0625 213.875 21.375 211.6875 21.375 209.125 21.375 207.625 22.125 207.4375 23.3125 207.3125 24.125 208 24.4375 211 24.9375 215.375 25.6875 219 26.375 218.3125 30.5625 217.75 34.375 213.875 36.5 208.8125 36.5 206 36.4375 202.375 35.4375 200.375 33.8125M47.8125 0L5.625 0C2.5 0 0 2.5 0 5.625L0 47.8125C0 50.9375 2.5 53.4375 5.625 53.4375L47.8125 53.4375C50.875 53.4375 53.4375 50.9375 53.4375 47.8125L53.4375 5.625C53.4375 2.5 50.9375 0 47.8125 0M26.625 32.5625C28.375 32.5625 30.25 31.875 32.0625 30.25L34.5625 33.125C31.9375 35.25 28.9375 36.4375 25.9375 36.4375 20 36.4375 16.25 32.5 17.125 26.9375 18 21.375 23.0625 17.4375 29 17.4375 31.875 17.4375 34.5625 18.5625 36.4375 20.625L32.9375 23.5C31.9375 22.1875 30.25 21.3125 28.375 21.3125 24.8125 21.3125 22.0625 23.625 21.5 26.9375 21 30.25 23 32.5625 26.625 32.5625" transform="translate(0 .6)"/>
												</svg>
											</a>
											<p class="text-gray-600 mt-1 text-sm md:text-base">Craft is a flexible, user-friendly CMS for creating custom digital experiences on the web and beyond.</p>
											<div class="pt-4 mt-auto">
												<a class="inline-flex items-center text-teal-600 hover:text-teal-800" target="_blank" href="https://craftcms.com">
													<span class="text-sm md:text-base font-semibold">Learn more</span>
													<svg class="fill-current w-4 h-4 ml-2" viewbox="0 0 18 12" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M14.5858 7H1C0.447715 7 0 6.55228 0 6C0 5.44772 0.447715 5 1 5H14.5858L11.2929 1.70711C10.9024 1.31658 10.9024 0.683418 11.2929 0.292893C11.6834 -0.0976311 12.3166 -0.0976311 12.7071 0.292893L17.7071 5.29289C18.0976 5.68342 18.0976 6.31658 17.7071 6.70711L12.7071 11.7071C12.3166 12.0976 11.6834 12.0976 11.2929 11.7071C10.9024 11.3166 10.9024 10.6834 11.2929 10.2929L14.5858 7Z"></path>
													</svg>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="flex flex-col px-12 py-10 w-full sm:w-1/2 border-t-2 sm:border-t-0 sm:border-l sm:border-b border-gray-200">
									<div class="flex flex-grow">
										<div class="flex flex-col leading-relaxed ml-4 md:ml-6">
											<a href="https://craft.cloud">
												<svg version="1.1" class="h-16 pb-4 flex-grow-0" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewbox="0 0 382.9 85.5" xml:space="preserve">
													<path fill="#2263ab" class="st0" d="M240.3 44.1c1.4-8.9 9.5-15.2 19-15.2 4.6 0 8.9 1.8 11.9 5.1l-5.6 4.6c-1.6-2.1-4.3-3.5-7.3-3.5-5.7 0-10.1 3.7-11 9-.8 5.3 2.4 9 8.2 9 2.8 0 5.8-1.1 8.7-3.7l4 4.6c-4.2 3.4-9 5.3-13.8 5.3-9.5 0-15.5-6.2-14.1-15.2M283.3 16.2l-6.7 42.4h-6.9l6.7-42.4zM281 44.1c1.5-9 9.4-15.2 18.9-15.2s15.6 6.2 14.1 15.2c-1.4 9-9.5 15.2-19 15.2-9.4 0-15.4-6.2-14-15.2m25.9 0c.9-5.4-2.4-9-8-9-5.7 0-10.1 3.7-10.9 9-.9 5.4 2.4 9 8 9s10.1-3.6 10.9-9M315.4 47.2l2.8-17.6h6.8l-2.7 17.2c-.6 4 1.6 6.3 6 6.3 4 0 8.4-2.3 9.1-6.6l2.7-16.8h6.8l-4.6 29h-6.8l.2-1.4c-2.6 1.6-5.7 2.1-9.3 2.1-7.4-.1-12.1-4.8-11-12.2M373.7 31.7l2.4-15.5h6.8l-6.7 42.4h-6.6l.4-2.6c-2.7 2.1-6.2 3.3-10.1 3.3-8.7 0-15-6.2-13.6-15.2 1.5-9 9.6-15.2 18.7-15.2 3.6 0 6.6 1 8.7 2.8m-1.6 12.4c.9-5.4-2.4-9-7.9-9-5.7 0-10 3.7-10.9 9-.9 5.4 2.3 9 8 9 5.6 0 10-3.6 10.8-9M121.9 53.2c-5.8 0-9-3.7-8.2-9 .9-5.4 5.3-9 11-9 3 0 5.7 1.4 7.3 3.5l5.6-4.6c-3-3.4-7.3-5.1-11.9-5.1-9.4 0-17.6 6.3-19 15.2-1.4 9 4.6 15.2 14.1 15.2 4.8 0 9.6-1.9 13.8-5.3l-4-4.6c-2.9 2.6-5.9 3.7-8.7 3.7M159.5 29.3s-1.2-.2-1.3-.2c-1.3-.2-2.7-.1-4 0-1.2.1-2.4.3-3.6.7-1 .3-2.1.7-3 1.3l.2-1.4H141l-4.6 29h6.8l2.7-16.9c.1-1 .5-1.9 1-2.7.5-.8 1.2-1.5 2-2 .8-.6 1.6-1 2.5-1.3.9-.3 1.8-.5 2.8-.6 1.3-.1 2.7 0 4 .3h.1c.2 0 1.2-6.2 1.2-6.2M183.3 31.5c-1.9-1.6-4.8-2.5-8.2-2.5-8.5 0-16.2 6.1-17.7 15.1-1.4 9 4.5 15.1 12.7 15.1 3.7 0 6.8-.5 9.4-2.3l-.2 1.6h6.2l4.5-28.8h-6.4l-.3 1.8zm-1.4 12.6c-.9 5.5-5 9.3-10.3 9.3-5.4 0-8.5-4-7.6-9.4.9-5.4 5.2-9.2 10.5-9.2 5.3.1 8.2 3.9 7.4 9.3M221.4 29.7l1.3-8.2-7.8 5.6-.4 2.7h-8.8l.9-5.5c.5-2.6 3.3-2.5 3.3-2.5h3.3l1-6h-4.7c-9.3 0-9.6 7.2-9.6 7.2l-.6 3.4-.5 3.4h-.6l-7.6 6h7.2l-4.6 29.4h7l4.6-29.4h8.8l-3.6 23h6.9l3.6-23h8.6l1-6h-8.7zM76.5 0H9C4 0 0 4 0 9v67.5c0 5 4 9 9 9h67.5c5 0 9-4 9-9V9c0-5-4-9-9-9zM56.9 58.3H29.2c-5.7 0-9.6-3.8-9.6-8.4 0-3.9 2.8-7.8 6.8-8.4 0-6.7 6.2-9.6 10.7-7.3 1.7-3.4 5.3-6.2 10.2-6.2 7 0 12 6.3 11.3 12.5 4.1.8 7.3 4.5 7.3 8.8 0 5-4.1 9-9 9z"/>
												</svg>
											</a>
											<p class="text-gray-600 mt-1 text-sm md:text-base">Craft Cloud brings the amazing authoring experience and content management of Craft to the Cloud.
											</p>
											<div class="pt-4 mt-auto">
												<a class="inline-flex items-center text-teal-600 hover:text-teal-800" target="_blank" href="https://craft.cloud">
													<span class="text-sm md:text-base font-semibold">Get notified</span>
													<svg class="fill-current w-4 h-4 ml-2" viewbox="0 0 18 12" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M14.5858 7H1C0.447715 7 0 6.55228 0 6C0 5.44772 0.447715 5 1 5H14.5858L11.2929 1.70711C10.9024 1.31658 10.9024 0.683418 11.2929 0.292893C11.6834 -0.0976311 12.3166 -0.0976311 12.7071 0.292893L17.7071 5.29289C18.0976 5.68342 18.0976 6.31658 17.7071 6.70711L12.7071 11.7071C12.3166 12.0976 11.6834 12.0976 11.2929 11.7071C10.9024 11.3166 10.9024 10.6834 11.2929 10.2929L14.5858 7Z"></path>
													</svg>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html></body></html>
